<% provide(:title, "S'enregistrer") %>

<h1 class="main-title">S'Inscrire</h1>
<div class="container">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>

      <%= f.label :firstname, "Prénom" %>
      <%= f.text_field :firstname, class: 'form-control' %>

      <%= f.label :lastname, "Nom"%>
      <%= f.text_field :lastname, class: 'form-control' %>

      <%= f.label :email, "Email"%>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "Mot de Passe" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Créer mon compte", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
</div>